@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #faf7f2;
}

html {
  scroll-behavior: smooth;
}


/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #2D6A4F;
  border-radius: 999px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FCFCFA;
  color: #1B4332;
}